language: csharp
dist: trusty
env: MONO_BASE_PATH=/usr/lib/mono/
dotnet: 2.0.0
mono:
  - 5.2.0
  - latest # => "stable release"
  - weekly # => "latest commits"

# install:
#   - rvm install 2.2.3
#   - gem install bundler

notifications:
  email: false

script:
  - ./build.sh

matrix:
  allow_failures:
   - mono: latest
   - mono: weekly