source https://www.nuget.org/api/v2

nuget FAKE
nuget FSharp.Core
nuget FsUnit ~> 1.2
nuget Nancy ~> 0.22
nuget Nancy.Hosting.Self ~> 0.22
nuget NUnit ~> 2.6.3
nuget NUnit.Runners ~> 2.6.3
nuget NuGet.CommandLine
nuget OpenCover ~> 4.5
nuget Suave
nuget Suave.Testing