source https://api.nuget.org/v3/index.json

github haf/YoLo YoLo.fs
github logary/logary src/Logary.Facade/Facade.fs

nuget Hopac ~> 0.3.23
nuget FSharp.Core
nuget Suave
nuget System.Net.Http
nuget System.Text.Encoding.CodePages ~> 4.4
nuget Expecto

group build
  source https://api.nuget.org/v3/index.json
  nuget FAKE
  nuget FSharp.Compiler.Tools
  github fsharp/FAKE modules/Octokit/Octokit.fsx
